@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CourseManagementSystem.Models.Student
<h2>Edit Student</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="StudentId" />

    <div>
        <label>Name</label>
        <input asp-for="StudentName" />
    </div>

    <div>
        <label>Country</label>
        <input asp-for="Country" />
    </div>

    <div>
        <label>Age</label>
        <input asp-for="Age" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>

    <br />

    <button type="submit">Save Changed</button>


</form>